body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /**/
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
}